apiVersion: apps/v1
kind: Deployment
metadata:
  name: petshop
  labels:
    app: petshop
spec:
  replicas: 1
  selector:
    matchLabels:
      app: petshop
  template:
    metadata:
      labels:
        app: petshop
    spec:
      containers:
      - name: petshop
        image: sreelifts/petshop:${BUILD_TAG}   # Jenkins will replace BUILD_TAG
        ports:
        - containerPort: 8080
        imagePullPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: petshop
spec:
  type: LoadBalancer
  selector:
    app: petshop
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8080
