apiVersion: apps/v1
kind: Deployment
metadata:
  name: petshop
  labels:
    app: petshop
spec:
  replicas: 1
  selector:
    matchLabels:
      app: petshop
  template:
    metadata:
      labels:
        app: petshop
    spec:
      containers:
      - name: petshop
        image: sreelifts/petshop:jenkins-sree-83
        ports:
        - containerPort: 8080
        imagePullPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: petshop
spec:
  type: NodePort       # Changed from LoadBalancer
  selector:
    app: petshop
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8080
    nodePort: 30080    # Accessible via <node-ip>:30080
