apiVersion: apps/v1
kind: Deployment
metadata:
  name: petshop
  labels:
    app: petshop
spec:
  replicas: 1
  selector:
    matchLabels:
      app: petshop
  template:
    metadata:
      labels:
        app: petshop
    spec:
      containers:
      - name: petshop
        image: sreelifts/petshop:latest    # Always pull 'latest'
        ports:
        - containerPort: 8080
        imagePullPolicy: Always            # Ensures Kubernetes always pulls the newest image
---
apiVersion: v1
kind: Service
metadata:
  name: petshop
spec:
  type: NodePort
  selector:
    app: petshop
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8080
    nodePort: 30080
